.dashboard-container{
    background-color: #f4eade;
    display: flex;
}
.dashboard-content{
    width: 100%;
}
.dashboard-main-content{
    width: 100%;
    height: 90vh;
    transition: ease-in-out 0.5s;
}